@import url(variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--color-3);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 95px 1fr;
  column-gap: 2%;
  padding: 23px 1% 0px 1%;
  grid-template-areas: "logo logo menu menu menu menu menu menu opcion opcion "
                       "pre pre pre pre pre info info info info info"
}
.div__logo{
  grid-area: logo;
  /* background: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
}
.div__logo img{
  width: 80%;
  height: 100%;
  object-fit: contain;
}
.div__menu{
  grid-area: menu;
  /* background: violet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.div__menu ul{
  display: flex;
  gap: 33px;
}
.div__menu ul li{
  /* background: yellowgreen; */
  list-style: none;
}
.div__menu ul li a{
  color: var(--color-2);
  text-decoration: none;
  font-family: "Inter_28pt-SemiBold";
  font-size: 28px;
}
.div__option{
  grid-area: opcion;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.div__product{
  grid-area: pre;
  /* background: blueviolet; */
  width: 785px;
  height: 663px;
  top: 81px;
  position: relative;
}
.div__product > img{
  position: absolute;
  right: 0;
  top: -15px;
}
.div__iceCreams img:nth-child(1),
.div__iceCreams img:nth-child(2),
.div__iceCreams img:nth-child(3){
  position: absolute;
  height: 663px;
  object-fit: contain;
  bottom: 0;
}
.div__iceCreams img:nth-child(1){
  transform: rotate(85.74deg);
  width: 514.86px;
  height: 746.6px;
  z-index: 5;
  left: 0;
  bottom: -245px;
}
.div__iceCreams img:nth-child(2){
  transform: rotate(57.18deg);
  width: 447.43px;
  height: 832.89px;
  z-index: 10;
  left: 30px;
  bottom: -115px;
}
.div__iceCreams img:nth-child(3){
  transform: rotate(32.69deg);
  width: 447.43px;
  height: 753.54px;
  z-index: 5;
  left: -135px;
}